# cmake stuff
build/
Testing/
cnn/Testing/
cnn/tests.bin/
CTestTestfile.cmake
config.h
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# binaries
examples/embed-cl
examples/encdec
examples/xor
examples/xor-xent
examples/rnnlm
examples/nlm

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.RData
.RHistory
